
@import url(https://fonts.google.com/specimen/Josefin+Sans);

* {
  box-sizing: border-box;
}

body {
  background-image: url('/images/bg-pattern-desktop.svg');
  background-size: cover;
  font-family:'Josefin Sans', sans-serif;
  margin: 0;
}

.container {
  display:flex;
  min-height: 100vh;
}

.left {
  width: 60%;
  padding: 0 40px; 
}

.right { 
  width: 40%;
  background-image: url('images/hero-desktop.jpg');
  background-size: cover;
  background-position: center center
}

.logo {
  margin: 60px 0;
  width: 200px;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 0;
  line-height: 1.1;
  transform: translateX(-100%);
  animation: comeinleft 0.5s ease forwards;
}


h1 span {
  color: hsl(0, 36%, 70%);
  font-weight: 200;
}

p {
  color: hsl(0, 36%, 70%);
  letter-spacing: 1px;
  margin: 30px 0;
  line-height: 30px;
  transform: translateX(100%);
  animation: comeinright 0.5s ease forwards;
}



.inner-container {
  max-width: 500px;
}

form {
  position: relative;
}

form.error {
  display: block;
}

input {
  background: transparent;
  border: 2px solid hsl(0, 36%, 70%);
  padding: 15px;
  border-radius: 50px;
  width: 100%;
  height: 53px;
  font-size: 16px;
}



button {
  background-image: Linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  border-radius: 50px;
  padding: 15px;
  width: 100px;
  position: absolute;
  top: 0px;
  right: 0px;
  box-shadow: 2px 2px 5px hsl(0, 36%, 70%);
  transition: opacity 0.05 ease;
}

button:hover {
  opacity: .7;
}

.error-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 110px;
  transform: translatey(55%);
}

form.error .error-icon {
  display: block;
}

form.error input {
  border: 2px solid hsl(0, 93%, 68%);
}
form.success input {
  border: 2px solid hsl(0, 36%, 70%);
}

small {
  display: none;
  color: hsl(0, 93%, 68%);
  margin-left: 30px;
  margin-top: 15px;
}

form.error small {
  display: block;
}

.bg-mobile {
  display: none;
}



/* ANIMATIONS */

@keyframes comeinright {
  to {
    transform: translateX(0);
  }
}

@keyframes comeinleft {
  to {
    transform: translateX(0)
  }
}

@media screen and (max-width: 600px) {

  .bg-mobile {
    display: block;
    width: 100%;
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px)
  }

  .left {
    width: 100%;
    padding-bottom: 40px;
  }

  .right {
    display: none;
  }
}





/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600 */